<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phantom - A Virtual Board </title>
    <link rel="shortcut icon" href=" {{ url_for('static',filename='images/phantomLogo.png')}} " type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <div class="container">
          <nav>
            <div class="logo">
              <img height="60px" src="{{ url_for('static',filename='images/phantomLogo.png') }}" alt="" />
              <h2><span>P</span>hantom</h2>
            </div>
            <ul onclick="closer()">
              <div class="btn">
                <i class="fa fa-close close-btn"></i>
              </div>
              <li><a href="#">Home</a></li>
              <li><a href="#working">Working</a></li>
              <li><a href="#future">Future Scope</a></li>
              <li><a href="{{ url_for('board') }}" id="topbtn">Get Started</a></li>
            </ul>
            <div class="btn">
                <i class="fa fa-bars menu-btn"></i>
            </div>
          </nav>
        </div>
      </header>
      <main id="home">
        <div class="container">
          <div class="content">
            <div class="txt">
              <h2 style="color: rgb(118, 200, 255);">Phantom </h2>
              <h4>Making online classes and presentations more interactive using  <span>A Virtual Board </span></h4>
              <p>-This application provides you with a virtual board using webcam, here you can make use of tools to draw things on air-</p>
            </div>
            <p>
              <a href="{{ url_for('board') }}" class="button">Get Started</a>
            </p>
          </div>
        </div>
      </main>

      <div id="working">
        <div class="section-title" data-aos="fade-up">
            <h2>-<span> Working </span>-</h2>
            <hr>
        </div>
        <div style="margin: 10px;">
            <ul>
                <li><i class="fa fa-check"></i> Click on Get Started</li>
                <li><i class="fa fa-check"></i> Use middle and index fingers to select a tool</li>
                <li><i class="fa fa-check"></i> Use index finger to draw something</li>
              </ul>
              <p style="width: 100%;">
                Note : Open both index and middle finger and select a tool by moving tip of index finger to the position of the tool on the window and then close middle finger to draw with your index finger
               </p>
        </div>

      </div>




      <section  id="future" class="services">
        <div class="container">

          <div class="section-title1" data-aos="fade-up">
            <h2><span>Future Scope</span></h2>
            <p></p>
          </div>

          <div class="row">
            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 card">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="fa fa-video-camera"></i></div>
                <h4 class="title">Video Recording</h4>
                <p class="description">There will be button where we can record the video of drawing</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 card">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i class="fa fa-image"></i></div>
                <h4 class="title">Whiteboard Capture</h4>
                <p class="description">On the whiteboard you will get the drawn shapes and text and it can be saved</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 card">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i class="fa fa-microphone"></i></div>
                <h4 class="title">Voice Commands</h4>
                <p class="description">Using voice command we can select tools rather than using hand gestures</p>
              </div>
            </div>

            <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0 card">
              <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                <div class="icon"><i class="fa fa-paint-brush"></i></div>
                <h4 class="title">Extra tools and Virtual objects</h4>
                <p class="description">Extra tools will be integrated and also virtual object selection</p>
              </div>
            </div>

          </div>

        </div>
      </section><!-- End future Section -->
</body>

 <footer id="footer">
    <div class="container">
        <div class="text-lg-left text-center" style="padding-bottom: 20px;">
            <div class="copyright" style="text-align: center;">
              &copy; Copyright <strong>Phantom</strong>. All Rights Reserved
            </div>
            <div class="credits">
                Designed by ArK Foundation
            </div>
          </div>

      </div>
    </div>
  </footer><!-- End Footer -->
<script src="{{ url_for('static',filename='script.js') }}"></script>
</html>